*{
    margin:0;
}

html,body{
    height:100%;
}
        
body {
    background: url("http://www.bmclark.org/accuwx_blog/093012/100_0330.JPG") no-repeat center center fixed; 
  background-size: cover;
        }

ul li{
    list-style: disc;
    display:inline;
    position:relative;
    top:32.5%;
}

ul li a{
    text-decoration:none;
    color:white;
    margin:5%;
}

ul{
    background:black; 
    height: 10%;
    width:100%;
    position: absolute;
    z-index: 2;
    opacity: 1;
    color: white;
}

ul li a:hover{
    color:black;
    background:#89cff0;
    padding:2.2%;
}


.mainheading{
    height: 5%;
    text-align: center;
    opacity: 1;
}



h1{
     text-align: center;
    opacity: 1;
    color:#89cff0;
}


#boxsalesforce {
    position: absolute;
  background-color: lightgrey ;
  padding: 1%;
  border: 5px solid #4CAF50;
  top:65%;
  left: 1%;
  width:17%;
  height: 65%;
}

#boxcloud9 {
    position: absolute;
  background-color: lightgrey;
  padding: 1%;
  border: 5px solid #4CAF50;
  top:65%;
  left: 25%;
  width:18%;
  height: 65%;
}

#boxaws {
    position: absolute;
  background-color: lightgrey;
  padding: 1%;
  border: 5px solid #4CAF50;
  top:65%;
  left: 49%;
  width:18%;
  height: 65%;
}

#boxgmail {
    position: absolute;
  background-color:lightgrey;
  padding: 1%;
  border:5px solid #4CAF50;
  top:65%;
  left: 75%;
  width:18%;
  height: 65%;
}
.boxes{
    color: black;
}

#salesforcelogo{
    position: absolute;
    top: 22%;
    left: 2%;
    width:18%;
    height:30%;
    
}

#cloud9logo{
    position: absolute;
   top:22%;
  left: 26%;
  width:18%;
  height: 30%;
}

#awslogo{
    position: absolute;
    top: 22%;
    left: 50%;
    width:18%;
    height:30%;
}

#gmaillogo{
    position: absolute;
    top: 22%;
    left: 76%;
    width:18%;
    height:30%;
}

#linksalesforce{
      position: absolute;
    top: 56%;
    left: 6%;
    
    background-color: #4CAF50;
    color: lightgrey;
    border: solid 1px #4CAF50;
    text-align: center;
    text-decoration: none;
    padding: 6px 6px;
    border-radius: 6px;
    font-size: 95%;
}

#linksalesforce:hover{
      position: absolute;
    top: 56%;
    left: 6%;
    
    background-color: lightgrey;
    color: #4CAF50;
    border: solid 1px lightgrey;
    text-align: center;
    text-decoration: none;
    padding: 6px 6px;
    border-radius: 6px;
    font-size: 95%;
}

#linkcloud9{
      position: absolute;
    top: 56%;
    left: 30%;
    
    background-color: #4CAF50;
    color: lightgrey;
    border: solid 1px #4CAF50;
    text-align: center;
    text-decoration: none;
    padding: 6px 6px;
    border-radius: 6px;
    font-size: 95%;
}

#linkcloud9:hover{
      position: absolute;
    top: 56%;
    left: 30%;
    
    background-color: lightgrey;
    color: #4CAF50;
    border: solid 1px lightgrey;
    text-align: center;
    text-decoration: none;
    padding: 6px 6px;
    border-radius: 6px;
    font-size: 95%;
}

#linkaws{
      position: absolute;
    top: 56%;
    left: 54%;
    
    background-color: #4CAF50;
    color: lightgrey;
    border: solid 1px #4CAF50;
    text-align: center;
    text-decoration: none;
    padding: 6px 6px;
    border-radius: 6px;
    font-size: 95%;
}

#linkaws:hover{
      position: absolute;
    top: 56%;
    left: 54%;
    
    background-color: lightgrey;
    color: #4CAF50;
    border: solid 1px lightgrey;
    text-align: center;
    text-decoration: none;
    padding: 6px 6px;
    border-radius: 6px;
    font-size: 95%;
}

#linkgmail{
      position: absolute;
    top: 56%;
    left: 80.5%;
    
    background-color: #4CAF50;
    color: lightgrey;
    border: solid 1px #4CAF50;
    text-align: center;
    text-decoration: none;
    padding: 6px 6px;
    border-radius: 6px;
    font-size: 95%;
}

#linkgmail:hover{
      position: absolute;
    top: 56%;
    left: 80.5%;
    
    background-color: lightgrey;
    color: #4CAF50;
    border: solid 1px lightgrey;
    text-align: center;
    text-decoration: none;
    padding: 6px 6px;
    border-radius: 6px;
    font-size: 95%;
}

#home_cloudproducts{
     position: absolute;
    top: 140%;
    left: 35%;
    
    background-color: #4CAF50;
    color: lightgrey;
    border: solid 1px #4CAF50;
    text-align: center;
    text-decoration: none;
    padding: 6px 6px;
    border-radius: 6px;
    font-size: 95%;
}

#home_cloudproducts:hover{
      position: absolute;
    top:140%;
    left: 35%;
    
    background-color: lightgrey;
    color: red;
    border: solid 1px lightgrey;
    text-align: center;
    text-decoration: none;
    padding: 6px 6px;
    border-radius: 6px;
    font-size: 95%;
}

#shop_cloudproducts{
     position: absolute;
    top:140%;
    left: 51%;
    
    background-color: #4CAF50;
    color: lightgrey;
    border: solid 1px #4CAF50;
    text-align: center;
    text-decoration: none;
    padding: 6px 6px;
    border-radius: 6px;
    font-size: 95%;
}

#shop_cloudproducts:hover{
      position: absolute;
    top: 140%;
    left: 51%;
    
    background-color: lightgrey;
    color: #4CAF50;
    border: solid 1px lightgrey;
    text-align: center;
    text-decoration: none;
    padding: 6px 6px;
    border-radius: 6px;
    font-size: 95%;
}

#boxSaaS{
      position: absolute;
  background-color: lightgrey ;
  padding: 1%;
  border: 5px solid #4CAF50;
  top:35%;
  left: 1%;
  width:95%;
  height: 50%;
  text-align: center;
}

#boxPaaS{
      position: absolute;
  background-color: lightgrey ;
  padding: 1%;
  border: 5px solid #4CAF50;
  top:95%;
  left: 1%;
  width:95%;
  height: 50%;
  text-align: center;
}

#boxIaaS{
      position: absolute;
  background-color: lightgrey ;
  padding: 1%;
  border: 5px solid #4CAF50;
  top:155%;
  left: 1%;
  width:95%;
  height: 50%;
  text-align: center;
}

#boxCaaS{
      position: absolute;
  background-color: lightgrey ;
  padding: 1%;
  border: 5px solid #4CAF50;
  top:215%;
  left: 1%;
  width:95%;
  height: 50%;
  text-align: center;
}

#aboutcloudinfo{
    position: absolute;
    top: 285%;
    left: 10%;
    width:80%;
    height:75%;
}

#infobanner{
    position: absolute;
    top:274%;
    left:25%;
    
}