


#section1{
    background-color: rgb(255,0,0);
    color: white;
    text-align: center;
}

#section1 img{
    width:50%;
    height: 50%;
    
}


#section2{
    color: white;
    text-align: center;
}

#section3{
    color:white;
    text-align: center;
}




 
#section2{
    background-color: rgb(72,0,0)
}

#section2 img{
    width:45%;
    height: 40%;
    
}

#section2 h2{
    font-size:30px;
}


#section3{
    background-color: rgb(0,0,0)
}

#section3 img{
    width:50%;
    height: 30%;
    
}

#section3 h3{
    font-size:30px;
}



#cloudheadings{
    text-decoration: underline;
}


.mainheading{
    position: absolute;
    text-align: center;
    top: 3%;
    left: 47%;
}


#sportbox{
      text-align: center;
    opacity: 1;
    color: white;
}

#travel_sports{
     position: absolute;
    top:80%;
    left: 54%;
    
    background-color: #4CAF50;
    color: lightgrey;
    border: solid 1px black;
    text-align: center;
    text-decoration: none;
    padding: 6px 6px;
    border-radius: 6px;
    font-size: 95%;
}

#travel_sports:hover{
     position: absolute;
    top:80%;
    left: 54%;
    
    background-color: #4CAF50;
    color: lightgrey;
    border: solid 1px black;
    text-align: center;
    text-decoration: none;
    padding: 6px 6px;
    border-radius: 6px;
    font-size: 95%;
}

#home_sports{
     position: absolute;
    top:80%;
    left: 54%;
    
    background-color: #4CAF50;
    color: lightgrey;
    border: solid 1px #4CAF50;
    text-align: center;
    text-decoration: none;
    padding: 6px 6px;
    border-radius: 6px;
    font-size: 95%;
}

#home_sports:hover{
     position: absolute;
    top:80%;
    left: 54%;
    
    background-color: #4CAF50;
    color: lightgrey;
    border: solid 1px #4CAF50;
    text-align: center;
    text-decoration: none;
    padding: 6px 6px;
    border-radius: 6px;
    font-size: 95%;
}

#home_cloud{
      position: absolute;
    top: 92%;
    left: 46%;
    
    background-color: #4CAF50;
    color: lightgrey;
    border: solid 1px #4CAF50;
    text-align: center;
    text-decoration: none;
    padding: 6px 6px;
    border-radius: 6px;
    font-size: 95%;
    z-index: 5;
}

#home_cloud:hover{
      position: absolute;
    top: 92%;
    left: 46%;
    
    background-color: lightgrey;
    color: #4CAF50;
    border: solid 1px lightgrey;
    text-align: center;
    text-decoration: none;
    padding: 6px 6px;
    border-radius: 6px;
    font-size: 95%;
    z-index: 5;
}
